@model Project.Service.Model.VehicleModel

@{
    ViewData["Title"] = "Brisanje modela vozila";
}

<h3>Jeste li sigurni da zelite obrisati ovaj model vozila?</h3>
<div>
    @using (Html.BeginForm("Delete", "VehicleModel", FormMethod.Post))
    {
        @Html.HiddenFor(e => e.id)
        @Html.HiddenFor(e => e.makeId)

        <h4>Brisanje modela vozila</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.abrv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.abrv)
            </dd>
        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to VehicleModel List", "Index")
        </div>
    }
</div>
