@model Project.Service.Model.VehicleMake

@{
    ViewData["Title"] = "Detalji vrste vozila";
}

<div>
    <h1>Detalji vrste vozila</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.abrv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.abrv)
        </dd>
    </dl>
    }
</div>
<p>
    @Html.ActionLink("Update", "Update", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>